<div class="container extract-margin-top">
	<div class="jumbotron text-center extract-background-header">
		<h1>MY-SHOP</h1>

		<p><a class="btn btn-large btn-success" href="http://bootply.com/tagged/bootstrap-3" target="ext">Register
			now!!!</a></p>
	</div>
	<!--content-->
	<div class="content">
		<div class="row">


			<!--<div class="col-sm-4 col-sm-push-8 content-right">


            </div>-->

			<div class="col-sm-12 content-left">

				<!--NEW PRODUCT-->
				<div class="row">
					<div class="col-sm-12 col-xs-12 text-left">
						<h3><input type="text" class="form-control" placeholder="search...."></h3>
					</div>
				</div>
				<div class="row">

					<div class="col-sm-12 text-left">
						<h3 class="text-muted">NEW PRODUCT</h3>
					</div>


					<div class="col-sm-4 col-xs-12">
						<div class="item thumbnail">
							<div class="image">
								<a href="detail-product.html">
									<img src="modules/core/img/assets/1.jpg">

									<div class="promotion">
										<span class="new-product"> NEW</span>
										<span class="discount">15% OFF</span>
									</div>
								</a>
							</div>
							<div class="description">
								<h5>EODEM MODO TYPI</h5>

								<p class="text-muted">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>

								<p>XL / XXL / S </p>

							</div>
							<div class="price">20$</div>
							<div class="action-control">
								<a class="btn btn-success">
									<i class="glyphicon glyphicon-shopping-cart"></i>
									Add to cart
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="item thumbnail">
							<div class="image">
								<img src="modules/core/img/assets/2.jpg">

								<div class="promotion">
									<span class="new-product"> NEW</span>
									<span class="discount">15% OFF</span>
								</div>
							</div>
							<div class="description">
								<h5>EODEM MODO TYPI</h5>

								<p class="text-muted">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>

								<p>XL / XXL / S </p>

							</div>
							<div class="price">20$</div>
							<div class="action-control">
								<a class="btn btn-success">
									<i class="glyphicon glyphicon-shopping-cart"></i>
									Add to cart
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="item thumbnail">
							<div class="image">
								<img src="modules/core/img/assets/3.jpg">

								<div class="promotion">
									<span class="new-product"> NEW</span>
									<span class="discount">15% OFF</span>
								</div>
							</div>
							<div class="description">
								<h5>EODEM MODO TYPI</h5>

								<p class="text-muted">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>

								<p>XL / XXL / S </p>

							</div>
							<div class="price">20$</div>
							<div class="action-control">
								<a class="btn btn-success">
									<i class="glyphicon glyphicon-shopping-cart"></i>
									Add to cart
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--LOAD MORE-->
				<div class="row">
					<div class="text-center">
						<a class="btn btn-thin" href="#">
							<i class="fa fa-plus-sign">+</i>
							load more products
						</a>
					</div>
				</div>

				<!--BEST SELL-->

				<!--NEW PRODUCT-->
				<div class="row">

					<div class="col-sm-12 text-left">
						<h3 class="text-muted">BEST SELL</h3>
					</div>


					<div class="col-sm-4 col-xs-12">
						<div class="item thumbnail">
							<div class="image">
								<img src="modules/core/img/assets/1.jpg">

								<div class="promotion">
									<span class="new-product"> NEW</span>
									<span class="discount">15% OFF</span>
								</div>
							</div>
							<div class="description">
								<h5>EODEM MODO TYPI</h5>

								<p class="text-muted">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>

								<p>XL / XXL / S </p>

							</div>
							<div class="price">20$</div>
							<div class="action-control">
								<a class="btn btn-success">
									<i class="glyphicon glyphicon-shopping-cart"></i>
									Add to cart
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="item thumbnail">
							<div class="image">
								<img src="modules/core/img/assets/2.jpg">

								<div class="promotion">
									<span class="new-product"> NEW</span>
									<span class="discount">15% OFF</span>
								</div>
							</div>
							<div class="description">
								<h5>EODEM MODO TYPI</h5>

								<p class="text-muted">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>

								<p>XL / XXL / S </p>

							</div>
							<div class="price">20$</div>
							<div class="action-control">
								<a class="btn btn-success">
									<i class="glyphicon glyphicon-shopping-cart"></i>
									Add to cart
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="item thumbnail">
							<div class="image">
								<img src="modules/core/img/assets/3.jpg">

								<div class="promotion">
									<span class="new-product"> NEW</span>
									<span class="discount">15% OFF</span>
								</div>
							</div>
							<div class="description">
								<h5>EODEM MODO TYPI</h5>

								<p class="text-muted">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>

								<p>XL / XXL / S </p>

							</div>
							<div class="price">20$</div>
							<div class="action-control">
								<a class="btn btn-success">
									<i class="glyphicon glyphicon-shopping-cart"></i>
									Add to cart
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--LOAD MORE-->
				<div class="row">
					<div class="text-center">
						<a class="btn btn-thin" href="#">
							<i class="fa fa-plus-sign">+</i>
							load more products
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>


</div>
